*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery{
  margin: 0 1rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
 
}


header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.more{
  padding: 1rem;
  margin: 1rem 0;
  
}
.more-container{
  display: flex;
  justify-content: center;
}
